@using WeListen.Web.Models
@model WeListen.Web.Viewmodels.User.UserIndexViewModel

@{
    ViewBag.Title = "title";
}
<style>
    table, th, td {
        /*border: 1px solid black;*/
    }
</style>

<h2>Welcome @Model.WebUser.UserName!</h2>

@if (Model.Locations != null)
{
    <h2>My Locations/Events</h2>
    @Html.ActionLink("Create new Location/Event", "RegisterLocation", "Account")
    <table>
        <tr>
            <th>Location/Event</th>
            <th>&nbsp;</th>
           
        </tr>

        @foreach (Location loc in Model.Locations)
        {
            <tr>
                <td>@loc.Name</td>
                
                <td>
                    @Html.ActionLink("Edit", "EditLocation", new { locationId = loc.LocationId})
                    @*@Html.Label(" ")
                    @Html.ActionLink("Details", "Details", new {id = item.DownTimeId})*@
                </td>
            </tr>
        }

    </table>
}


