@model WeListen.Web.Viewmodels.Account.RegisterUserViewModel


@{
    ViewBag.Title = "Register";
    
}

<h2>Register</h2>
<br/>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>New Account</legend>

       
        <p>
            <li>@Html.ActionLink("Register New User/Dj", "RegisterUser", "Account")</li>
            <li>@Html.ActionLink("Register New Location/Event", "RegisterLocation", "Account")</li>
        </p>
    </fieldset>
    
}

<div>
    @Html.ActionLink("Back to List", "Index", "Songs")
</div>

<script language="javascript" type="text/javascript">
    
</script>