@using WeListen.Web.Models
@model WeListen.Web.Viewmodels.Locations.LocationHomeViewModel

@{
    ViewBag.Title = "Home";
}
<h2>@ViewBag.Location </h2>
@*
<input type="submit" value="Queue Songs" style="float: right" onclick="location.href='@Url.Action("Queue", "Location", new {locationId=@ViewBag.LocationId})    '" />
*@

@*<input type="text" id="djusername"/>
<input type="button" onclick="AddDj();" value="Add"/>*@

<br/>
<table style="float: left; width: 50%">
    <tr>
        <th>Current Queue</th>
    </tr>

    @foreach (LocationPlaylist song in Model.PlaylistQueue)
    {
        try
        {

        
        if (song == null || song.LocationCatalog.Song.Title == null || song.LocationCatalog.Song.Artist.Name == null)
        {
            continue;
        }
            <tr>
                <td>
                    @song.LocationCatalog.Song.Title by @song.LocationCatalog.Song.Artist.Name
                </td>
            </tr>
    }
        catch
        {
        }
    }
</table>
<table style="float: right; width: 50%">
    <tr>
        <th>Available Songs</th>
    </tr>
   
        
   
    @foreach (Song song in Model.Song)
    {
        try
        {
            
        
        if (song == null || song.Title == null || song.Artist.Name == null)
        {
            continue;
        }
            <tr>
                <td>
                    @song.Title by @song.Artist.Name 
                    <input type="button" value="Queue" onclick="QueueSong(@ViewBag.LocationId, @song.SongId, @song.User.UserId)" /> 
                </td>
            </tr>
    }
        catch
        {
        }
    } 
   
</table>


<script type="text/javascript">
    function OnAddDjTextChange() {
        
    }
   
    function AddDj() {
        var data = {
            locationId: 1,
            djname: $('#djusername').val()
        };
        
        $.ajax({
            url: '/Location/SubmitDj',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                alert("yayayayyay!");
            },
            async: true,
            processData: false
        });
    }
    
    function QueueSong(locationId, songId, requestedByUserId) {
        var data = {
            locationId: locationId,
            songId: songId,
            requestedByUserId: requestedByUserId
        };

        $.ajax({
            url: '/Location/QueueSong',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                alert(result);
            },
            async: true,
            processData: false
        });
    }
    
</script>