@model WeListen.Web.Viewmodels.Locations.Index

@{
    ViewBag.Title = "Index";
}

<h2>All Locations/Events</h2>

<p>Enter a location to begin requesting songs.</p>
    
@*<table>
        <tr>
            <th>Location/Event</th>
            <th>&nbsp;</th>
        </tr>
        @foreach (var location in Model.Locations)
        {
            <tr>
                <td>
                    @location.Name 
                </td>
                <td>
                    <input type="submit" value="Enter Location" onclick="location.href='@Url.Action("Songs", "Location", new { locationId = @location.LocationId })'" />
                </td>
            </tr>
        }
</table>*@


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <th>Location/Event</th>
            <th>&nbsp;</th>
        </tr>
        @foreach (var location in Model.Locations)
        {
            <tr>
                <td>
                    @location.Name 
                </td>
                <td>
                    @Html.ActionLink("Enter Location", "Index", new { locationId = location.LocationId })
                </td>
            </tr>
        }
</table>
}