@model WeListen.Web.Viewmodels.Songs.Index

@{
    ViewBag.Title = "Index";
}

<h2>All Songs</h2>
<div align="center">
    <input type="text" /> <input type="button"/>
</div>

@*@using (Html.BeginForm("Queue", "Songs", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table>
        <tr>
            <th>Song Title</th>
            <th>Artist</th>
            
        </tr>
        @foreach (Song song in Model.Songs)
        {
            <tr>
                <td>@song.Title</td>
                <td>@song.Artist.Name</td>
                $1$<td>@Html.ActionLink("Queue", "Queue", new{locationId = 1})</td>#1#
                $1$<td><input type="submit" value="Queue" /></td>#1#
               $1$ <td>
                    <input type="submit" value="Queue" onclick="location.href='@Url.Action("Queue", "Songs", new {locationId=1})'" />
                </td>#1#
            </tr>
        }
    </table>
}*@
