@using System.Activities.Statements
@using WeListen.Web.Infrastructure.Session
@using WeListen.Web.Models
@using WeListen.Data

@{
    WebUser webUser = ViewBag.User as WebUser;
}

@if (webUser.UserName != null) {
    <ul>
        <li>
            Hello, <span>@Html.ActionLink(@webUser.UserName, "Index", "User")</span>
            @Html.ActionLink("Home", "index", "home") 
        </li>
        <li>
            @Html.ActionLink("Logout", "LogOff", "Account") 
        </li>
    </ul>
} else {
    <ul>
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        (Acting as Guest)
        <li>@Html.ActionLink("Register", "RegisterUser", "Account")</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
